In [1]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import Imputer
from sklearn.ensemble import RandomForestClassifier
from scipy import stats

# import other methods
from clean import *

In [2]:
%matplotlib inline

In [3]:
# read the data
event = pd.read_csv("../../../github_data/telstradisr_data/event_type.csv")
log = pd.read_csv("../../../github_data/telstradisr_data/log_feature.csv")
sample = pd.read_csv("../../../github_data/telstradisr_data/sample_submission.csv")
severity = pd.read_csv("../../../github_data/telstradisr_data/severity_type.csv")
resource = pd.read_csv("../../../github_data/telstradisr_data/resource_type.csv")
train = pd.read_csv("../../../github_data/telstradisr_data/train.csv")
test = pd.read_csv("../../../github_data/telstradisr_data/test.csv")

In [4]:
# obtain integers out of strings with redundant data
event['event_type'] = event['event_type'].str.split(' ').str[1]
log['log_feature'] = log['log_feature'].str.split(' ').str[1]
severity['severity_type'] = severity['severity_type'].str.split(' ').str[1]
resource['resource_type'] = resource['resource_type'].str.split(' ').str[1]
test['location'] = test['location'].str.split(' ').str[1]
train['location'] = train['location'].str.split(' ').str[1]

In [5]:
# join tables with train data 
onet = train.merge(event, left_on='id', right_on='id', how='left')
twot = onet.merge(log, left_on='id', right_on='id', how='left')
threet = twot.merge(severity, left_on='id', right_on='id', how='left')
ntrain = threet.merge(resource, left_on='id', right_on='id', how='left')
ntrain.head()

,id,location,fault_severity,event_type,log_feature,volume,severity_type,resource_type
0,14121,118,1,34,312,19,2,2
1,14121,118,1,34,232,19,2,2
2,14121,118,1,35,312,19,2,2
3,14121,118,1,35,232,19,2,2
4,9320,91,0,34,315,200,2,2

In [6]:
# join tables with test data
onee = test.merge(event, left_on='id', right_on='id', how='left')
twoe = onee.merge(log, left_on='id', right_on='id', how='left')
threee = twoe.merge(severity, left_on='id', right_on='id', how='left')
ntest = threee.merge(resource, left_on='id', right_on='id', how='left')
ntest.head()

      id location event_type log_feature  volume severity_type resource_type
0  11066      481         35         230      24             2             2
1  11066      481         35         310      28             2             2
2  11066      481         35         228      20             2             2
3  11066      481         35         308      26             2             2
4  11066      481         34         230      24             2             2

In [12]:
ntrain.groupby('id').agg(lambda x: )

TypeError: agg() missing 1 required positional argument: 'func'

In [14]:
event.head().unique()

AttributeError: 'DataFrame' object has no attribute 'unique'