In [1]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
# read the data
event = pd.read_csv("../../../github_data/telstradisr_data/event_type.csv")
log = pd.read_csv("../../../github_data/telstradisr_data/log_feature.csv")
sample = pd.read_csv("../../../github_data/telstradisr_data/sample_submission.csv")
severity = pd.read_csv("../../../github_data/telstradisr_data/severity_type.csv")
resource = pd.read_csv("../../../github_data/telstradisr_data/resource_type.csv")
train = pd.read_csv("../../../github_data/telstradisr_data/train.csv")
test = pd.read_csv("../../../github_data/telstradisr_data/test.csv")

In [4]:
# obtain integers out of strings with redundant data
event['event_type'] = event['event_type'].str.split(' ').str[1]
log['log_feature'] = log['log_feature'].str.split(' ').str[1]
severity['severity_type'] = severity['severity_type'].str.split(' ').str[1]
resource['resource_type'] = resource['resource_type'].str.split(' ').str[1]
test['location'] = test['location'].str.split(' ').str[1]
train['location'] = train['location'].str.split(' ').str[1]

In [5]:
event.head()

     id event_type
0  6597         11
1  8011         15
2  2597         15
3  5022         15
4  5022         11

In [8]:
log.head()

     id log_feature  volume
0  6597          68       6
1  8011          68       7
2  2597          68       1
3  5022         172       2
4  5022          56       1

In [9]:
severity.head()

     id severity_type
0  6597             2
1  8011             2
2  2597             2
3  5022             1
4  6852             1

In [10]:
resource.head()

     id resource_type
0  6597             8
1  8011             8
2  2597             8
3  5022             8
4  6852             8

In [ ]:
t