In [1]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import Imputer
from sklearn.ensemble import RandomForestClassifier
from scipy import stats

# import other methods
from clean import *

In [2]:
%matplotlib inline

In [3]:
# read the data
event = pd.read_csv("../../../github_data/telstradisr_data/event_type.csv")
log = pd.read_csv("../../../github_data/telstradisr_data/log_feature.csv")
sample = pd.read_csv("../../../github_data/telstradisr_data/sample_submission.csv")
severity = pd.read_csv("../../../github_data/telstradisr_data/severity_type.csv")
resource = pd.read_csv("../../../github_data/telstradisr_data/resource_type.csv")
train = pd.read_csv("../../../github_data/telstradisr_data/train.csv")
test = pd.read_csv("../../../github_data/telstradisr_data/test.csv")

In [4]:
# obtain integers out of strings with redundant data
event['event_type'] = event['event_type'].str.split(' ').str[1]
log['log_feature'] = log['log_feature'].str.split(' ').str[1]
severity['severity_type'] = severity['severity_type'].str.split(' ').str[1]
resource['resource_type'] = resource['resource_type'].str.split(' ').str[1]
test['location'] = test['location'].str.split(' ').str[1]
train['location'] = train['location'].str.split(' ').str[1]

In [5]:
event.head(2)

     id event_type
0  6597         11
1  8011         15

In [6]:
log.head(2)

     id log_feature  volume
0  6597          68       6
1  8011          68       7

In [7]:
severity.head(2)

     id severity_type
0  6597             2
1  8011             2

In [8]:
resource.head(2)

     id resource_type
0  6597             8
1  8011             8

In [9]:
resource.loc[resource['id'] == 14121]

         id resource_type
3545  14121             2

In [10]:
severity.loc[severity['id'] == 14121]

         id severity_type
3154  14121             2

In [11]:
# check in each log table if ids repeated
tables = [log,event,severity,resource]
names = ['log','event','severity','resource']
event.columns[-1]
for i in range(len(tables)):
    check = unique_column(tables[i],tables[i].columns[-1])
    
    # if repeated ids, aggregate values into a dictionary
    if check == False:
        a = tables[i].groupby([tables[i].columns[-2],tables[i].columns[-1]]).agg({tables[i].columns[-1]:'count'})
        a.index.names = ['id','cat']
        a = a.reset_index()
        a = a.set_index('cat')
        a = a.groupby('id').apply(lambda x: x.to_dict()[tables[i].columns[-1]])
    tables[i] = pd.DataFrame(a,columns=[tables[i].columns[-1]])
log,event,severity,resource = tables
#a
event.head()

            event_type
id
1   {'11': 1, '13': 1}
2   {'34': 1, '35': 1}
3            {'11': 1}
4            {'47': 1}
5   {'34': 1, '35': 1}

In [15]:
log.head()

                                                volume
id
1                                        {1: 20, 2: 1}
10   {1: 11, 2: 2, 3: 5, 4: 1, 5: 2, 6: 1, 7: 1, 14...
100                                             {2: 1}
101  {427: 1, 326: 1, 69: 1, 6: 3, 7: 2, 73: 1, 30:...
102                                       {1: 1, 3: 1}

In [12]:
train.head()

      id location  fault_severity
0  14121      118               1
1   9320       91               0
2  14394      152               1
3   8218      931               1
4  14804      120               0

In [13]:
# join tables with train data 
onet = train.merge(event, left_on='id', right_index=True, how='left')
twot = onet.merge(log, left_index=True, right_index=True, how='left')
threet = twot.merge(severity, left_index=True, right_index=True, how='left')
ntrain = threet.merge(resource, left_index=True, right_index=True, how='left')
ntrain.head()

,id,location,fault_severity,event_type,volume,severity_type,resource_type
0,14121,118,1,"{'34': 1, '35': 1}",NaN,NaN,NaN
1,9320,91,0,"{'34': 1, '35': 1}",NaN,{'1': 1},"{'8': 1, '6': 1}"
2,14394,152,1,"{'34': 1, '35': 1}",NaN,{'2': 1},{'2': 1}
3,8218,931,1,"{'15': 1, '11': 1}",NaN,{'1': 1},{'8': 1}
4,14804,120,0,"{'20': 1, '11': 1, '36': 1, '34': 1}",NaN,{'4': 1},{'2': 1}

In [14]:
# join tables with test data
onee = test.merge(event, left_on='id', right_on='id', how='left')
twoe = onee.merge(log, left_on='id', right_on='id', how='left')
threee = twoe.merge(severity, left_on='id', right_on='id', how='left')
ntest = threee.merge(resource, left_on='id', right_on='id', how='left')
ntest.head()

KeyError: 'id'

In [ ]:
ntrain.groupby('id').agg(lambda x: )

In [ ]:
event.head().unique()