In [1]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import Imputer
from sklearn.ensemble import RandomForestClassifier
from scipy import stats
from collections import Counter

# import other methods
from clean import *

In [2]:
%matplotlib inline

In [3]:
sample = pd.read_csv('sample.csv')
sample.head()

     id  log_feature  volume
0  6597           68       6
1  8011           68       7
2  6597           68       1
3  5022          172       2
4  5022           56       1

In [4]:
ncol = len(sample.columns)
if ncol == 3:
    a = sample.groupby([sample.columns[-3],sample.columns[-2],sample.columns[-1]]).agg({sample.columns[-1]:'count',sample.columns[-2]:'count'})
    a.index.names = ['id','cat1','cat2']
    root = a.reset_index()
    one = root.set_index('cat1')
    two = root.set_index('cat2')
    print('shit',one.columns[-1])
    #two = one.groupby('id').apply(debugger)
    onef = one.groupby('id').apply(lambda x: x.to_dict()[one.columns[-1]])
    twof = two.groupby('id').apply(lambda x: x.to_dict()[one.columns[-2]])
    print(onef)
    print(twof)
    #one = one.set_index('cat2')
    #two = one.groupby('id').apply(debugger)
elif ncol == 2:
    a = sample.groupby([sample.columns[-2],sample.columns[-1]]).agg({sample.columns[-1]:'count'})
    a.index.names = ['id','cat']
    a = a.reset_index()
    a = a.set_index('cat')
    #for i in range(len(a['event_type'])):
    #    if a['event_type'].iloc[i] != 1:
    #        print('more than once',a['id'].iloc[i])
    print(a)
    print(a['event_type'])
    #two = one.groupby('id').apply(debugger)
    a = a.groupby('id').apply(lambda x: {int(k):int(v) for k,v in x.to_dict()[sample.columns[-1]].items()})
    print(a)
    #one = one.set_index('cat2')
    #two = one.groupby('id').apply(debugger)

shit log_feature
id
5022    {56: 1, 172: 1, 71: 1}
6597           {193: 1, 68: 1}
6852    {56: 1, 80: 1, 201: 1}
8011                   {68: 1}
dtype: object
id
5022    {1: 1, 2: 1, 3: 1}
6597    {1: 1, 4: 1, 6: 1}
6852          {1: 1, 2: 1}
8011                {7: 1}
dtype: object

In [5]:
shit = pd.DataFrame(onef,columns=['a'])
shit

                           a
id
5022  {56: 1, 172: 1, 71: 1}
6597         {193: 1, 68: 1}
6852  {56: 1, 80: 1, 201: 1}
8011                 {68: 1}

In [ ]:
dic = DictVectorizer()
dic = dic.fit(twof)
nsample = dic.transform(twof)

In [ ]:
print(nsample)

In [ ]:
a.index.names = ['id','cat']
one = a.reset_index()
one = one.set_index('cat')
#two = one.groupby('id').apply(debugger)
two = one.groupby('id').apply(lambda x: x.to_dict()['event_type'])
#.apply(debugger)
two